/* Estilos globais */
body {
  background-color: #f8f9fa;
}

/* Estilo para os cabeçalhos dos accordions */
.accordion-button {
  background-color: #243d54;
  color: white;
}

.accordion-button:not(.collapsed) {
  background-color: #1a2f42;
  color: white;
}

/* Estilo para os botões */
.btn-primary {
  background-color: #0a92d1;
  border-color: #0a92d1;
}

.btn-outline-primary {
  color: #0a92d1;
  border-color: #0a92d1;
}

/* Badges */
.badge {
  font-weight: normal;
}